.home__container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto; 
    padding-top: 20px;
    padding-top: 60px;
}
.home__containerRow {
    display: flex; 
    justify-content: space-between;
    width: 100%;  
}