.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  border-bottom: 1px solid lightgray;
  position: fixed; 
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #f7f7f7;
}

.navbar > a {
  text-decoration: none;
  color: #000;
}
.navbar__title {
  font-size: 20px;
  font-weight: 900;
}
.navbar__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__menu h2 {
  padding: 0 10px;
}

.navbar__cart {
  font-size: 20px;
  font-weight: 900;
}
