* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
    background-color: cadetblue;
    height: 100px;
}
ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

ul  li {
    padding: 0 10px;
}

.product {
    background-color: coral;
    width: 200px;
    padding: 20px;
    color: white;
    margin: 20px;
    text-align: center;
}
.product button {
    padding: 5px 10px;
    margin-top: 10px;
    background-color: cornflowerblue;
}
.list {
    display: flex;
}